<h1>Add new Place</h1>

<form method="POST">

<label for="input-name">Place Name</label>
  <input id="input-name" type="text" name="name" placeholder="Name" />

<label for="input-type">Place Type</label>
<input id="input-type" type="text" name="type" placeholder="Type" />

  
  <button>Add new Place</button>

</form>