<h2>Find below all places</h2>

{{#each places}}
<a href="/places/{{_id}}">{{ name }} </a> <br><br>
<form action="places/{{_id}}/delete" method="POST"> 
<button>Delete</button></form>
 <form action="places/{{_id}}/edit" method="GET">
    <button>Edit</button>
    </form>
{{/each}}


<br><br><br>
<a href="/celebrities/create">Add new Celebrity</a>
